spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
sentencepiece
langchain
langchain-community
faiss-cpu
datasets
bert-score
rouge-score
wikipedia-api
textstat
gradio
groq
wikipedia
nltk
torch
pandas
numpy
matplotlib
seaborn
ipywidgets
transformers
tenacity
