numpy==1.24.3
pandas==2.0.3


spacy==3.7.2
nltk==3.8.1
textstat==0.7.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl

torch==2.0.1
transformers==4.38.0
sentence-transformers==2.2.2
sentencepiece==0.1.99


faiss-cpu==1.7.4


langchain==0.0.312
langchain-community==0.0.13
wikipedia==1.4.0


groq==0.4.0
requests==2.31.0


streamlit==1.28.2
gradio==4.13.0
matplotlib==3.7.2
seaborn==0.12.2
ipywidgets==8.0.7

datasets

rouge-score==0.1.2
datasets==2.14.5


tenacity==8.2.3